body {
  margin: 0;
  padding: 0;
}

.section_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: 100vh;
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
}

.log {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  background: rgba(68, 76, 70, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.log__in {
  width: 260px;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  outline: none;
  padding-inline-start: 15px;
}

.log__btn {
  border: none;
  background: ;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
}

.log__btn:focus {
  outline: none;
  background: grey;
  transition: all 0.2s;
}

.auth {
  color: #fff;
  margin-bottom: 20px;
}

.section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: 100vh;
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
}